{% load staticfiles %}
{% load extra_filters %}
<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}{{ title|set_title }}{% endblock %}</title>
		<link rel = "stylesheet" href = "{% static "css/semantic.css" %}"/>
	</head>

	<body {% block bodystyle %}{% endblock %}>
		{% if user.is_authenticated %}
			{% if gadz.is_gadz %}
				{% include "navbar_gadz.html" %}
			{% else %}
				{% include "navbar_user.html" %}
			{% endif %}
		{% else %}	
			{% include "navbar.html" %}
		{% endif %}
		{% block body %}
		{% endblock %}
	</body>

	<footer>
		<script src = "{% static "javascript/jquery-1.11.1.min.js" %}" type = "text/javascript"></script>
		<script src = "{% static "javascript/semantic.js" %}" type = "text/javascript"></script>
		<script type = "text/javascript">
			$(document).ready(function() {
				$('.sub.login').hide();
				$('.ui.dropdown').dropdown();
				$('.message .close').on('click', function() {
					$(this).closest('.message').fadeOut();
					});
				$('.link.login').click(function() {
					$('.link.login').hide().end().find('sub.login').slideDown();
					});
				});
		</script>
		<script type = "text/javascript">
			$('.ui.search').search({
				apiSettings : {
					url: '{% url "kfet.views.getPgs" %}?pg={query}'
				},
				debug: false,
				verbose: true
			})
		</script>
	</footer>
</html>
