{% load extra_filters %}

<div class = "ui sub menu">
	<div class = "menu">
		<!-- <div class = "item ui search">
			<div class = "ui icon input">
			<input name = "pg" class = "prompt" autofocus = "autofocus" type = "text" placeholder  = "Search ... (Alt+P)">
			<i class = "search icon button"></i>
			</div>
		<div class = "results"></div>
		</div> -->
	{% if gadz.credit <= 0 %}
		<div class = "right item">
			<div class = "ui red label">
			Solde = {{ gadz.credit }} €
			</div>
		</div>
	{% else %}
		<div class = "right item">
			<div class = "ui green label">
			Solde = {{ gadz.credit }} €
			</div>
		</div>
	{% endif %}
	</div>
</div>
