{% extends "navbar.html" %}
{% block navbar_links %}
	{% if user.is_superuser %}
		<a class = "item link" href = "/admin">
			<i class = "lock icon"></i>
			Administration
		</a>
	{% endif %}
{% block navbar_gadz %}{% endblock %}
{% endblock %}
{% block navbar_menu %}
	<div class = "item right ui top right pointing dropdown">
		<i class = "user icon"></i>Bienvenue {{ user.username }} !
		<i class = "dropdown icon"></i>
		<div class = "menu">	
			<a class = "item" href = "{% url "settings" %}">
			<i class = "settings icon"></i>		
			Paramètres du compte
			</a>
			<a class = "item" href = "{% url "showmac" %}">
			<i class = "exchange icon"></i>
			Paramètres de connexion
			</a>
			<a class = "item" href = "{% url "sign-out" %}">
			<i class = "sign out icon"></i>
			Déconnexion
			</a>
		</div>
	</div>
{% endblock %}

