{% extends "base.html" %}
{% load extra_filters %}

{% block body %}
<div class = "ui center aligned grid">
	<div class = "height wide column">	
	<div class = "row">
	<div class = "column">
		<div class = "ui segment">
		<h3 class = "ui inverted blue block center header">Liste des produits</h3>
		{% if listproduct %}
			<table class = "ui celled table">
			<thead>
			<tr>
				<th class = "center aligned single line">Nom du produit</th>
				<th class = "center aligned single line">Prix</th>
				<th class = "center aligned single line">Raccourci</th>
				<th class = "center aligned single line">Edition</th>
				<th class = "center aligned single line">Suppression</th>
			</tr>
			</thead>			
			{% for i in listproduct %}
			<form method="POST" action = "{% url "kfet.views.productdisplay" %}">
				{% csrf_token %}
				<tr>
					{% for j in i %}
						<td class = "center aligned single line">{{ j }}</td>
					{% endfor %}
				<td class = "center aligned single line">
				<button class = "ui center blue submit button" type = "submit" name = "edit_product" value = "{{ forloop.counter0 }}">Editer</button></td>
				<td class = "center aligned single line">
				<button class = "ui center blue submit button" type = "submit" name = "delete_product" value = "{{ forloop.counter0 }}">Supprimer</button></td>
				</tr>
			</form>
			{% endfor %}
			<p></p>
			</table>
		{% else %}
			<p></p>
			Vide !
		{% endif %}
		</div>
	</div></div>
	</div>
</div>

{% endblock %}